name: Java CI with Gradle

on:
  pull_request:
    branches: [ "dev" ]

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: 'gradle'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    # 테스트를 위한 Docker Compose 설정 및 실행
    - name: Start Docker Compose
      run: |
        docker compose up -d --profile ci --wait

    # 5. 테스트 실행
    - name: Run Tests
      run: ./gradlew test